.hero{
    padding-top: 35vh;
    padding-bottom: 5vh;
    align-items: flex-end;
  }

.anti-hero{
    background-color: #1E1E1E;
    border-radius: 48px 48px 0 0;
}

.section.about{
    background-image: url("plana-shoot.webp");
    background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(30, 30, 30, 0.75);
}
.sticky {
    position: sticky;
    top: 110px;
  }
.row:has(.sticky) {
    height: 100%;
  }

.slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
    
}

.slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #1E1E1E;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
    background-image: url(https://www.dropbox.com/scl/fi/89wamcqz3a1m1xdlr90jf/helm.webp?rlkey=jx0tm98bawjrtkxtap2ytegiw&st=zcegbf0k&raw=1);
}
.slideshow li:nth-child(2) { 
    background-image: url(https://www.dropbox.com/scl/fi/048cn2hajreub8wyt26nq/aril.webp?rlkey=3po65tu1jew05h2vbvdfcgndq&st=9xszx3vs&raw=1);
    animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
    background-image: url(https://www.dropbox.com/scl/fi/w7hapfim8rj9nxj0gfyef/nari.webp?rlkey=orccmdyr0hmqroageuzqzme86&st=hqjrrl6w&raw=1);
    animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
    background-image: url(https://www.dropbox.com/scl/fi/ymkfiv7pxl87gpif5rvr8/iqos.webp?rlkey=ratxtch5wbzu7ig600qx2y8ve&st=wq05epz5&raw=1);
    animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
    background-image: url(https://www.dropbox.com/scl/fi/kq0kc539b32kuipqtayq5/amild.webp?rlkey=4yaw4rgkih1ct6kqktkba56mc&st=femclgyc&raw=1);
    animation-delay: 40s; 
}

@keyframes imageAnimation { 
    0% { 
        opacity: 0; 
        animation-timing-function: ease-in;
    }
    5% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    10% {
        opacity: 1;
    }
    15% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}


  
  .mouse {
    margin: 0 auto;
    display: block;
    border-radius: 50px;
    border: 2px solid #DA0F00;
    height: 80px;
    width: 40px;
    position: relative;
  }
  
  .move {
    position: absolute;
    background-color: #DA0F00;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation: move 2s linear infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(-50%,10px);
      opacity: 0;
    }
    50% {
      transform: translate(-50%,20px);
      opacity: 1;
    }
    100% {
      transform: translate(-50%,60px);
      opacity: 0;
    }
  }