.sociallinks{
    position: fixed;
    right: 1.5%;
    top: 40%;
    color: #DA0F00; /* Red color */
    list-style-type: none;
}

.vl {
    border-left: 3px solid #DA0F00;
    height: 200px;
    position: absolute;
    left: 55%;
    margin-left: -3px;
    top: 0;
  }